.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(153, 148, 148);
}

.App-header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}



